@use '../global/color' as *;

label {
  display: block flow;
  font-size: 0.95rem;
  color: $light-600;
  // margin-bottom: 0.5rem;
  // font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="time"] {
  background-color: $dark-300;
  color: $light-900;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  inline-size: 100%;
  block-size: 48px;
  outline: none;
  transition: background-color 0.2s, border 0.2s;
}

input:focus {
  background-color: #333;
  border: 1px solid #bb86fc; /* マテリアルな紫系 */
}

input::placeholder {
  color: $light-600;
}
