@use '../../global/color' as *;

.l-main {
  padding: 0 16px 16px;
}

.l-main-header {
  block-size: 56px;
}

.l-main-contents {
  margin-block-start: 32px;
}

.l-footer {
  padding: 16px;
  text-align: center;
  background-color: $dark-700;
}
