@use '../../global/color' as *;

.p-button {
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.p-menu-button {
  padding: 8px 16px;
  border: 1px solid $dark-700;
}
