@use '../../global' as *;

.p-card {
  padding: 16px;
  margin-block-start: 16px;
  margin-block-end: 8px;
  background-color: $dark-300;
  color: $light-900;
  border-radius: 12px;
}

.p-card__title {
  font-weight: 700;
  font-size: 16px;
}
