@use '../../global' as *;

.p-label {
  display: block flow;
  font-size: 0.95rem;
  color: $light-600;
  margin-block-end: 8px;
}

.p-input {
  inline-size: 100%;
  block-size: 48px;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="time"],
input[type="date"] {
  background-color: $dark-300;
  color: $light-900;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  inline-size: 100%;
  block-size: 48px;
  outline: none;
  transition: background-color 0.2s, border 0.2s;
}

input:focus {
  background-color: #333;
  border: 1px solid #bb86fc;
}

input::placeholder {
  color: $light-600;
}

input[type="submit"] {
  cursor: pointer;
  background-color: $dark-500;
  color: $light-900;
  border: 1px solid $light-900;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  inline-size: 100%;
  block-size: 48px;
}

textarea {
  background-color: $dark-300;
  color: $light-900;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  inline-size: 100%;
  outline: none;
  transition: background-color 0.2s, border 0.2s;
}

select {
  background-color: $dark-300;
  color: $light-900;
  border: none;
  border-radius: 6px;
  padding: .75rem 1rem;
  inline-size: 100%;
  block-size: 48px;
  outline: none;
  transition: background-color .2s, border .2s;
}

.p-form__fieldset {
  margin-block-start: 32px;
}
