@use '../../global' as *;

.p-link {
  color: $txt-color-base;
  text-decoration: none;

  &:visited {
    color: $txt-color-base;
  }
  &:hover {
    color: $light-accent;
  }
}

.p-menu-link {
  padding: 8px 16px;
  border: 1px solid $dark-700;

  &:hover {
    border-radius: 1em;
    background-color: $dark-400;
    border: 1px solid $light-accent;
  }
}

.p-action-link {
  padding: 8px 16px;
  border: 1px solid $dark-500;
  text-decoration: none;

  &:hover {
    border-radius: 1em;
    background-color: $dark-400;
    border: 1px solid $light-accent;
  }
}
