@use '../../global/color' as *;

.l-wrapper {
	max-inline-size: 768px;
	margin: 0 auto;
}

.l-header {
  padding: 16px;
}

.l-footer {
  padding: 16px;
  text-align: center;
  background-color: $dark-700;
}

.l-main {
  padding: 16px;
}

.l-main-contents {
  margin-block-start: 32px;
}

.l-main-form {
  overflow: hidden;
  max-inline-size: 768px;
}

.l-slot-radio {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 8px 0;
  block-size: 32px;
  // display: flex;
  // align-items: center;
}
