$dark-700: #171717;
$dark-600: #202020;
$dark-500: #212121;
$dark-400: #2c2c2c;
$dark-300: #333333;
$light-600: #cccccc;
$light-800: #e5e5e5;
$light-900: #ffffff;

$txt-color-base: #e5e5e5;
$txt-color-primary: #ffffff;
$txt-color-accent: #9d9178;
