@use 'foundation';
@use 'layout';

$bg-color-base: #202020;
$bg-color-sub: #171717;
$bg-color-hover: #212121;
$bg-color-light: #2c2c2c;
$txt-color-base: #e5e5e5;
$txt-color-primary: #ffffff;
$txt-color-accent: #9d9178;

body {
  font-family: 'Noto Sans Jp', 'Hiragino Gothic Pro';
  background-color: $bg-color-base;
  color: $txt-color-base;
}

.l-main-header {
  height: 56px;
}

.h-full {
  height: 100%;
}

.p-bg-color {
  background-color: $bg-color-base;
}

.p-bg-color-sub {
  background-color: $bg-color-sub;
}

.p-txt-primary {
  font-size: 24px;
  color: $txt-color-primary;
}

.u-pse-8 {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
}

.u-pse-16 {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.u-mbt-8 {
  margin-block-start: 8px;
}

.u-mbt-16 {
  margin-block-start: 16px;
}

.u-mbt-32 {
  margin-block-start: 32px;
}

.p-link {
  text-decoration: inherit;
}

.p-menu-link {
  padding: 8px 16px;
  border: 1px solid $bg-color-sub;
  text-decoration: none;

  &:hover {
    border-radius: 1em;
    background-color: $bg-color-light;
    border: 1px solid $bg-color-light;
  }

  a:visited {
    color: $txt-color-base;
  }
}

.p-action-link {
  padding: 8px 16px;
  border: 1px solid $bg-color-hover;
  text-decoration: none;

  &:hover {
    border-radius: 1em;
    background-color: $bg-color-light;
    border: 1px solid $bg-color-light;
  }

  a:visited {
    color: $txt-color-base;
  }
}

.md-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  border-radius: 1em;
}

.md-table thead {
  background-color: #2c2c2c;
}

.md-table th,
.md-table td {
  padding: 16px;
  text-align: left;
}

.md-table th {
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #333;
}

.md-table tbody tr {
  border-bottom: 1px solid #333;
}

.md-table tbody tr:hover {
  background-color: #2a2a2a;
}

.md-table td {
  color: #e0e0e0;
  font-size: 14px;
}
